.app{
    /* max-width: 1200px; */
    width: 100%;
    /* margin: auto;
    margin-bottom: 10px;
    margin-top: 10px; */
    /* box-shadow: 0 0 5px #ccc; */
    justify-content: space-around;
    margin-top: -15px;
  }
  .details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 10px 0; */
    /* background-color: antiquewhite; */
  }
  .details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 0px 10px 20px 10px;
    /* background-color: aquamarine; */
  }
  .big-img img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: block;
    object-fit: cover;
  }
  
  .details .box{
    max-width: 570px;
    min-width: 290px;
    margin-top: -5px;
    /* margin-left: 90px; */
    padding-left: 10px;
    padding-right: 10px;
    
    /* background-color: aquamarine; */
    /* justify-content: space-around; */
    /* float: left; */
  }
  .box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .box .row h4{
    text-transform: uppercase;
    /* letter-spacing: 2px; */
  }
  .miniText{
    font-size: smaller !important;
  }
  .box .row span{
    color: crimson;
  }
  .boxHD{
    /* background-color: lightblue; */
  /* width: 110px; */
    max-width: 700px;
    height: 205px;
    padding-left: 5px;
    overflow: auto;
    border: 1px solid rgb(179, 179, 179);
    /* box-shadow: 0 0 5px #ccc; */
  }
 .btncart{
    background: rgb(255, 255, 255);
    color: black;
    outline: none;
    border: 1px rgb(244, 201, 120) solid;
    cursor: pointer;
    padding: 10px 50px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
  } 
  .btncart:hover{
    background:  rgb(244, 201, 120);
  }
  /* .box p{
    line-height: 1.5;
    margin: 15px 0;
  } */
  /* .thumb{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
  } */
  /* .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
  } */
  /* .thumb img.active{
    opacity: 1;
    border: 1px solid lightseagreen;
  }*/

 
  
  /* @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  } */

