/*
- khung to: 
    + ảnh sp 
    + tên sp 
    + thông số, mô tả
    + giá  + lựa chọn 
    + nội dung công dụngdụng
- 
- 
- 
*/

/* khung */
.app-subs{
    width: 100%;
    margin-top: 10px;
    
}

/*manue*/
/* search */
.boxFilter{
    display: flex;
    flex-wrap: wrap;
}

/* sub-product */
.no-products{
    min-height: 530px;
    margin-top: 30px;
    text-align: center;
}
/* list */
.container-list{
    width: 100%;
    /* min-height: 26rem;  */
    /* background-color: lightblue; */
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

/* item  */
.carditem{
    max-width: 15rem;
    height: 25rem;
    
    margin: 9px;
    
    /* box-shadow: 0 0 5px #ccc; */
    /* flex-grow: 1; */
}
.card-photo{
    max-width: 15rem;
    max-height: 15rem;
    
}
.card-content{
   max-width: 15rem;
   max-height: 10rem;
   font-size: 12px;
}
.card-decription{
    height: 4rem;


    /* background-color: blueviolet; */
}
.btnmore{
    border: 1px rgb(244, 201, 120) solid;
    background: rgb(255, 255, 255);
    color: black;
    padding: 2px 75px;
    font-size: 12px;
  }
.btnmore:hover{
  background:  rgb(244, 201, 120);
}

  /* pagination */
.page-item.active .page-link {
  background-color: orange;
  border-color: orange;
  color: white;
}
.page-item .page-link:hover {
  background-color: rgb(164, 214, 243);
  border-color: orange;
  color: white;
  }
/* noticeI : thông báo đặt hàng và tư vấn*/
.noticeI{
    text-align: center;
}


/* //bỏbỏ item-product 
.itemP-container{
    display: flex;
    flex-wrap: wrap;
}

.photo-item{
  flex-grow: 1;
  flex-basis:200;
}

.photo{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;   
}
.content-item{
}
*/

.search-results {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-results li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }
  
  /* Chia 2 cột */
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* 2 cột */
    grid-gap: 10px;
  }
  
  .search-results li {
    list-style-type: none;
  }